.body{
    margin=0;
}
.menu {

    background-color: #24292e;
    height: 70px;
}
.user-avatar {
    border-color: gray;
    border-width: 3px;
    border-style: solid;
}
.main {
    display: flex;
    padding: 40px 80px;
}